/.vscode
/backup
/custom
/game_rules
/history
/*.yaml
/clash
/proxy_provider/*
!private.yaml
!public.yaml

cache.db
china_ip6_route.ipset
china_ip_route.ipset
Country.mmdb
GeoSite.dat
openclash
.DS_Store
